[Desktop Entry]
Name=R3R
Exec=r3r
Icon=r3r.png
Type=Application
MimeType=text/plain;esf/plain;text/x-rss;application/xml;application/rss+xml;application/rdf+xml;application/atom+xml
